div.frame {
    margin: 2px; 
    padding: 2px 2px 8px 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto; 
}

h5.frame {
    width:100%;
    text-align: left;
    padding:0px;
    margin-top:0px;
    margin-bottom:5px;
}