div.spritesheet-module {
    height:50%;
    max-height: 75%;
    overflow: auto;
    flex-shrink: 0;
}
div.spritesheet-module-panel {
    height: 400px;
    flex-shrink: 0;
}
div.spritesheet-module-settings {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
