div.spritesheet-canvas {
  overflow: auto;
  height: 450px;
  display: block;
  background: rgb(70, 70, 70);
}

.spritesheet-canvas::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: rgb(70, 70, 70);
}
  
.spritesheet-canvas::-webkit-scrollbar-track {
  background: rgb(70, 70, 70);
}

.spritesheet-canvas::-webkit-scrollbar-corner {
  background: rgb(70, 70, 70);  
}

canvas.spritesheet-canvas {
  overflow: hidden;
}