div.header-button {
    margin-left: 2px; 
    margin-right: 2px; 
    padding-left:3px;
    padding-right:3px;
    display: inline; 
    color: rgb(175, 175, 175);
}
div.header-button:hover {
    background-color: rgb(80, 80, 80);
}
div.header-button:active {
    background-color: rgb(100, 100, 100);
}
div.header-button.down {
    background-color: rgb(50, 50, 50)
}

div.header-button.disabled {
    color: rgb(100, 100, 100);
}
div.header-button.disabled:hover {
    background-color: transparent;
}
div.header-button.disabled:active {
    background-color: transparent;
}

i.header-button-i {
    margin-left: 2px;
    margin-right: 2px;
}