div.panel-body {
    height: 100%;
    max-height: inherit;
    background-color: transparent;
    border-style: none;
    padding: 4px;    
    color: rgb(120, 120, 120);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.panel-body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
