div.number-pair {
    margin: 2px; 
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.number-pair-body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
label.number-pair {
    margin-left: 8px;
    margin-right: 8px;
    white-space: nowrap;
}
input.number-pair {
    width:100%;
    border:solid;
    color:rgb(200, 200, 200);
    border-color: rgb(45, 45, 45);
    border-width: 1px;
    background-color: rgb(80,80,80);
    margin: 2px 0px 3px 0px;
}
input.number-pair.narrow {
    width: 30px;
}
input.number-pair.normal {
    width: 50px;
}
input.number-pair.wide {
    width: 100px;
}
input.number-pair.extra-wide {
    width: 150px;
}

h5.number-pair {
    width:100%;
    text-align: left;
    padding:0px;
    margin-top:0px;
    margin-bottom:3px;
}