div.label-input {
    margin: 2px; 
    padding: 2px;
    display: flex;
    width: auto; 
}

label.label-input {
    margin-left: 8px;
    margin-right: 8px;
    white-space: nowrap;
}
label.label-input-disabled {
    margin-left: 8px;
    margin-right: 8px;
    white-space: nowrap;
    color: rgb(80, 80, 80);
}

input.label-input {
    width:100%;
    border:solid;
    color:rgb(200, 200, 200);
    border-color: rgb(45, 45, 45);
    border-width: 1px;
    background-color: rgb(80,80,80);
}
input.label-input:disabled{
    color: rgb(160, 160, 160);
}
input.label-input.narrow {
    width: 30px;
}
input.label-input.normal {
    width: 50px;
}
input.label-input.wide {
    width: 100px;
}
input.label-input.extra-wide {
    width: 150px;
}

invalid {
    color: rgb(255, 0, 0);
}