.zoom {
    vertical-align: middle;
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.zoom:hover {
    opacity: 1;
}

.zoom::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 14px;
    background: rgb(175, 175, 175);
    cursor: pointer;
}

.zoom::-moz-range-thumb {
    width: 4px;
    height: 14;
    background: rgb(200, 200, 200);
    cursor: pointer;
}