#root {
  height: 100%;
}

/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
  font-size: 13px;
  background-color: rgb(35, 35, 35);
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* General scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(35, 35, 35);
}

::-webkit-scrollbar-corner {
  background: rgb(35, 35, 35);  
}

::-webkit-scrollbar-thumb {
  background: rgb(90, 90, 90); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100); 
}


h3 {
  font-size: 15px;
  font-family: 'Segoe UI Light';
  font-style: normal;
}

/* Outmost container */
.app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;  
  height: 100%;
}