/* Container for collapsable panel */
.module {
    margin: 2px 1px 2px 1px;
    background-color:rgb(40, 40, 40)
  }

.module::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* Button used within modules */
button.Modulebutton {
  width: 60px;
  font-family: "Segoe UI";
  color: rgb(175, 175, 175);
  background-color: rgb(20, 20, 20);
  border-color: rgb(15, 15, 15);
  border-width: 1px;
  border-style: solid;
  padding: 0px 0px 2px 0px;
  margin-right: 8px;
  align-self: flex-end;
}
button.Modulebutton:hover {background-color: rgb(80, 80, 80)}
button.Modulebutton:active {background-color: rgb(100, 100, 100)}