/* Application panel (left, centre and right)*/
.app-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 2px;
  }


/* Specific styles for different panels */
#Left-panel {
  width: 20%;
  overflow: auto;
}

#Centre-panel {
  flex-grow: 3;
  max-width: 50%
}

#Right-panel {
  width: 30%;
  overflow: hidden;
  float:right;
}