div.numberquadrupel {
    margin: 2px; 
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto; 
}

label.numberquadrupel {
    margin-left: 8px;
    margin-right: 8px;
    white-space: nowrap;
}
input.numberquadrupel {
    width:100%;
    border:solid;
    color:rgb(200, 200, 200);
    border-color: rgb(45, 45, 45);
    border-width: 1px;
    background-color: rgb(80,80,80);
    margin: 2px 0px 3px 0px;
}
input.numberquadrupel.narrow {
    width: 30px;
}
input.numberquadrupel.normal {
    width: 50px;
}
input.numberquadrupel.wide {
    width: 100px;
}
input.numberquadrupel.extra-wide {
    width: 150px;
}

h5.numberquadrupel {
    width:100%;
    text-align: left;
    padding:0px;
    margin-top:0px;
    margin-bottom:3px;
}