div.panel-header {
    width: auto;
    height: 24px;
    background-color: rgb(20, 20, 20);
    border-width: thin;
    border-style: solid;
    border-color: rgb(15, 15, 15);
    padding-left: 8px;    
    padding-right: 8px;    
    padding-top: 1px;
    padding-bottom: 2px;
    color: rgb(175, 175, 175);
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
}

div.panel-header-active {
    width: auto;
    height: 24px;
    background-color: rgb(0, 0, 0);
    border-width: thin;
    border-style: solid;
    border-color: rgb(5, 5, 5);
    padding-left: 8px;    
    padding-right: 8px;    
    padding-top: 1px;
    padding-bottom: 2px;
    color: rgb(255, 255, 255);
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
}