div.player {
  display: block;
  background: rgb(70, 70, 70);
  border-color: rgb(60, 60, 60);
  border-style: solid;
  border-width: thin;
  overflow:scroll;
}

.player::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: rgb(70, 70, 70);
}

.player::-webkit-scrollbar-track {
  background: rgb(70, 70, 70);
}

.player::-webkit-scrollbar-corner {
  background: rgb(70, 70, 70);  
}

canvas.player {
  image-rendering: crisp-edges pixelated;
}