div.animation {
    border-style: none;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}
label.no-left-margin {
    margin-left: 0px;
    margin-right: 8px;
    white-space: nowrap;    
}