div.panel {
    max-height: inherit;
    height: inherit;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(25, 25, 25);
    display:flex;
    flex-direction: column;
    overflow: auto;
    padding: 0px;
    width: auto;
}